    pandas==1.5.3
    seaborn==0.12.1
    mne==1.2.3
    neurodsp==2.2.0
    ipykernel==6.19.4
    openpyxl==3.0.10
    ipython==8.8.0
    ipywidgets==8.0.4
    ipyevents==2.0.1
    fooof==1.0.0
    joblib==1.2.0
    dcor==0.6
    emd==0.5.5
    joblib==1.2.0
    llvmlite==0.39.1
    numba==0.56.4
    pyyaml==6.0
    sparse==0.13.0
    tabulate==0.9.0
    statsmodels==0.13.5
    levenshtein==0.20.9
    notebook
    scikit-learn