    pandas
    seaborn
    mne
    neurodsp==2.2.0
    ipykernel
    openpyxl
    ipython
    ipywidgets
    ipyevents
    fooof==1.0.0
    joblib
    dcor
    joblib
    llvmlite
    pyyaml
    sparse
    tabulate
    statsmodels
    levenshtein
    pycatch22
    wheel
    notebook
    scikit-learn
    h5io
    mne-connectivity
    numba
    tensorpac
    nibabel
